:root {
  /* Primary */
  --blue-200: hsl(193, 38%, 86%);
  --green-300: hsl(150, 100%, 66%);

  /* Neutral */
  --blue-600: hsl(217, 19%, 38%);
  --blue-900: hsl(217, 19%, 24%);
  --blue-950: hsl(218, 23%, 16%);

  /* font-weight */
  --fw-normal: 400;
  --fw-semibold: 500;
  --fw-bold: 800;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background-color: var(--blue-950);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 33.9375rem;
  min-height: 21rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  margin-bottom: 2.5rem;
  position: relative;
  background-color: var(--blue-900);
  border: none;
  border-radius: 0.5rem;
}

.icon-container {
  padding: 1.125rem;
  border-radius: 50%;
  background-color: var(--green-300);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -1.875rem;
  cursor: pointer;
  border: none;
}

.icon-container:hover {
  box-shadow: 0px 0px 24px 6px rgba(82, 255, 168, 0.83);
  -webkit-box-shadow: 0px 0px 24px 6px rgba(82, 255, 168, 0.83);
  -moz-box-shadow: 0px 0px 24px 6px rgba(82, 255, 168, 0.83);
}

.icon-container:hover .icon-dice {
  animation: rotate 2s linear 0s 1 normal none;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.advice-id {
  text-transform: uppercase;
  color: var(--green-300);
  font-family: "Manrope", sans-serif;
  font-weight: var(--fw-semibold);
  letter-spacing: 0.125rem;
  font-size: 0.875rem;
}
.advice-text {
  color: var(--blue-200);
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
}
.desktop-divider {
  display: block;
}
.mobile-divider {
  display: none;
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 40.625rem) {
  .container {
    width: 80vw;
    min-height: 19.8125rem;
    min-width: 22.5rem;
    padding-top: clamp(1.25rem, calc(1.25rem + 1vw), 3rem);
    padding-left: clamp(1.25rem, calc(1.25rem + 1vw), 3rem);
    padding-right: clamp(1.25rem, calc(1.25rem + 1vw), 3rem);
    padding-bottom: 3rem;
  }
  .desktop-divider {
    display: none;
  }
  .mobile-divider {
    display: block;
  }
  .advice-text {
    font-size: clamp(1.125rem, calc(1.125rem + 1vw), 1.75rem);
  }
}
